.dragAreaContainer {
    @apply shadow-xl w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center;
    background: white;
    border-radius: 30px;
    position: absolute;
}

.dragArea {
    @apply w-32 h-32 sm:w-56 sm:h-56;
    position: absolute;
    border-radius: 30px;
}

.dragAreaParent {
    @apply absolute bottom-52 right-52 sm:bottom-44 sm:right-48 flex items-center justify-center;
}

.disableBtn {
    @apply absolute bg-white bottom-32 right-20 p-3 rounded-xl shadow-xl;
}
