@tailwind base;
@tailwind components;
@tailwind utilities;

.read-out {
    @apply select-none absolute -left-20 -top-48 w-52 h-24 font-mono text-sm text-white bg-opacity-10 bg-black rounded;
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 7px black;
}

@keyframes loading_anim {
    0% {
        transform: scaleX(1) scaleY(2) translateY(-7px);
    }
    100% {
        transform: scaleX(15) scaleY(2) translateY(-7px);
    }
}

/* does loading_anim animation once over 10s */
.loading {
    animation: loading_anim 20s infinite;
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);
    transform: scaleX(15) scaleY(2) translateY(-7px);
}

/* fix tailwindcss ruining blockly's fun */
svg[display="none"] {
    display: none;
}
